In [ ]:
from sodapy import Socrata
from pymongo import MongoClient
import pymongo
import pandas as pd



from sqlalchemy import create_engine
import numpy as np
import json



#PostgreSql related operations such as reading and writing
import psycopg2
import sqlalchemy

#Visulalization
import pandas.io.sql as sqlio
import psycopg2
from pandas.io.json import json_normalize
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.patches import Arc, Rectangle, ConnectionPatch
from matplotlib.offsetbox import  OffsetImage
from functools import reduce as rd

#Ignoring Warning
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pymongo
import pandas as pd
from pymongo import MongoClient
#accessing the data from mongoDB cloud and loading it to the dataframe
#client = MongoClient()
client = MongoClient('localhost', 27017)
#selecting database
db = client['DAPDATABASES']
#selecting the collection within the database
data = db.Restaurant_Features
#converting entire collection to Pandas dataframe
data1_raw= pd.DataFrame(list(data.find()))
#printing the dataframe named data
print(data1_raw)

In [ ]:
import seaborn as sns
#displaying heatmap for visualizing null values in rawdataset
sns.heatmap(data1_raw.isnull(), cmap='viridis')

In [ ]:
data1_raw.isnull().sum()

In [ ]:
data1_raw.info()

In [ ]:
#removing the unnecessary columns from the rawdata dataframe and saving it in another dataframe called data1_remove
data1_remove=data1_raw.drop(['_id','index','objectid','globalid','doing_business_as_dba','bulding_number','business_address','food_service_establishment','sidewalk_dimensions_length','sidewalk_dimensions_width','roadway_dimensions_length','roadway_dimensions_width','sla_serial_number','landmark_district_or_building','landmarkdistrict_terms','healthcompliance_terms','community_board','council_district','census_tract','bin','bbl','nta'],axis=1)
data1_remove

In [ ]:
#checking the column names of dataframe named data1_remove to confirm whether the unwanted colums are removed or not
data1_remove.columns

In [ ]:
#adding null values in all the columns in data1_remove using sum function
data1_remove.isnull().sum()

In [ ]:
# Renaming columns for merging dataframes to create the resultant dataset using inner joint
data1_remove.rename(columns = {'zip':'zipcode'}, inplace = True)
data1_remove.rename(columns={'borough':'county'},inplace=True)
#displaying the first 1 row of the data1_remove to check whether the name of the row changed or not
data1_remove.head(1)

In [ ]:
#removing all other columns except continuous data columns from data1_remove to perforn KNN imputation
data1_imputation=data1_remove.drop(["zipcode","seating_interest_sidewalk","restaurant_name","legal_business_name","street","county","approved_for_sidewalk_seating","approved_for_roadway_seating","qualify_alcohol","sla_license_type","time_of_submission"],axis=1)
data1_imputation

In [ ]:
#using KNN algorithm to fill the null values in the data1_imputation dataframe,which contains only numerical data columns
import numpy as np
from sklearn.impute import KNNImputer
import pandas as pd
imputer = KNNImputer(n_neighbors=2)
data1_imputed = imputer.fit_transform(data1_imputation)

In [ ]:
#displaying the tranformed data stored as an array in the variable called data1_imputed ,after filled the null values
data1_imputed

In [ ]:
# the array values in data1_imputed variable is loaded to new dataframe data1_after_imputed  
data1_after_imputed=pd.DataFrame(data1_imputed,columns=['sidewalk_dimensions_area','latitude','longitude','roadway_dimensions_area'])
#displaying the dataframe data1_af_imputed
data1_after_imputed

In [ ]:
#checking the null values in data1_after_imputed
data1_after_imputed.isnull().sum()

In [ ]:
#implementing pairplot for data1_after_imputed dataframe to check the linearity by using seaborn  
sns.pairplot(data1_after_imputed)

In [ ]:
#checking correlation between all the columns in data1_after_imputed
data1_after_imputed.corr()

In [ ]:
#checking number of categories and its counts in the column- sla_licence_type, in data1_remove dataframe
data1_remove['sla_license_type'].value_counts()

In [ ]:
#using algorithm -filling null values with most frequent values in sla_license_type 
data1_remove["sla_license_type"].fillna('OP', inplace=True)

In [ ]:
#removing all the continuous data columns from data1_remove dataframe and storing all other columns in another dataframe named data1_after_remove
# to concade with the data1_after_imputed which holds all the imputed continuous variables
data1_after_remove=data1_remove.drop(['sidewalk_dimensions_area','latitude','longitude','roadway_dimensions_area'],axis=1)
data1_after_remove

In [ ]:
# concading the data1_after_imputed and data1_after_remove after cleaning and imputation and removing unwanted variables
data1_clean = pd.concat([data1_after_imputed, data1_after_remove],axis=1)
# viewing the cleaned dataset after imputation and cleaning 
display(data1_clean)

In [ ]:
#checking for null values in data1_clean data set
data1_clean.isnull().sum()

In [ ]:
#rearranging the columns and storing it into the data1_final dataframe
data1_final = data1_clean[['restaurant_name','zipcode','county','legal_business_name','latitude','longitude','approved_for_sidewalk_seating','sidewalk_dimensions_area','seating_interest_sidewalk','approved_for_roadway_seating','roadway_dimensions_area','qualify_alcohol','sla_license_type','time_of_submission']]
# checking for null values
data1_final

In [ ]:
import pymongo
import pandas as pd
from pymongo import MongoClient
client = MongoClient('localhost', 27017)
db = client['DAPDATABASES']
data = db['Restaurant_Inspection']
data2_raw= pd.DataFrame(list(data.find()))
print(data2_raw)

In [ ]:
import seaborn as sns
sns.heatmap(data2_raw.isnull(),cmap='viridis')

In [ ]:
data2_raw.isnull().sum()

In [ ]:
data2_raw.info()

In [ ]:
data2_remove=data2_raw.drop(['_id','index','street','statecode','deficiency_number','deficiency_description'],axis=1)
data2_remove

In [ ]:
data2_remove.columns

In [ ]:
data2_remove.isnull().sum()

In [ ]:
#geocoded_column in data2_remove is applied pandas series package to split the dictionary into separate dataframe
#and loading it in a dataframe called geocoded_columnnew
data2_remove=data2_remove.dropna()
data2_remove.isnull().sum()

In [ ]:
geocoded_columnnew=data2_remove['georeference'].apply(pd.Series)
geocoded_columnnew

In [ ]:
geocoded_columnnew=geocoded_columnnew.drop(columns=["type"])
geocoded_columnnew

In [ ]:
geocoded_columnnew=pd.DataFrame(geocoded_columnnew['coordinates'].tolist(), index=geocoded_columnnew.index)
geocoded_columnnew

In [ ]:
geocoded_columnnew = geocoded_columnnew.rename(columns={0: 'latitude',1: 'longitude'})
geocoded_columnnew

In [ ]:
data2_after_split=pd.DataFrame(geocoded_columnnew,columns=['latitude','longitude'])
data2_after_split

In [ ]:
data2_after_split.isnull().sum()

In [ ]:
data2_concat= pd.concat([data2_remove,data2_after_split],axis=1)
data2_clean=data2_concat.drop(['georeference'],axis=1)
display(data2_clean)

In [ ]:
data2_clean.isnull().sum()

In [ ]:
data2_clean.rename(columns = {'trade_name':'restaurant_name'}, inplace = True)

In [ ]:
data2_final = data2_clean[['zipcode','county','city','owner_name','restaurant_name','latitude','longitude','inspection_grade','inspection_date']]
data2_final.isnull().sum()

In [ ]:
import pymongo
import pandas as pd
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['DAPDATABASES']
data = db['Restaurant_Liquor']
data3_raw = pd.DataFrame(list(data.find()))
print(data3_raw)

In [ ]:
data3_reduce=pd.DataFrame(data3_raw)
data3_reduce.isnull().sum()

In [ ]:
data3_remove=data3_reduce.drop(['_id','index','serial_number','premise_address','premise_city','premise_address_2','other','dba','days_hours_of_operation',':@computed_region_yamh_8v7k',':@computed_region_kjdx_g34t',':@computed_region_wbg7_3whc','method_of_operation','license_issued_date','license_expiration_date','zone','effective_date','original_date'],axis=1)
data3_remove

In [ ]:
data3_remove.isnull().sum()

In [ ]:
data3_remove['premise_state'].value_counts()

In [ ]:
data3_remove = data3_remove[data3_remove.premise_state == 'NY']
data3_remove['premise_state'].value_counts()

In [ ]:
data3_remove.rename(columns = {'premise_zip':'zipcode'}, inplace = True)
data3_remove.rename(columns = {'premise_name':'restaurant_name'}, inplace = True)
data3_remove

In [ ]:
data3_remove=data3_remove.dropna()

In [ ]:
data3_remove.isnull().sum()

In [ ]:
geocoded_columnnew=data3_remove['georeference'].apply(pd.Series)
geocoded_columnnew

In [ ]:
geocoded_columnnew=geocoded_columnnew.drop(columns=["type"])
geocoded_columnnew

In [ ]:
geocoded_columnnew=pd.DataFrame(geocoded_columnnew['coordinates'].tolist(), index=geocoded_columnnew.index)
geocoded_columnnew

In [ ]:
geocoded_columnnew = geocoded_columnnew.rename(columns={0: 'latitude',1: 'longitude'})
geocoded_columnnew

In [ ]:
data3_after_split=pd.DataFrame(geocoded_columnnew,columns=['latitude','longitude'])
data3_after_split

In [ ]:
data3_after_split.isnull().sum()

In [ ]:
data3_concat= pd.concat([data3_remove,data3_after_split],axis=1)
data3_clean=data3_concat.drop(['georeference'],axis=1)
display(data3_clean)

In [ ]:
data3_clean.isnull().sum()

In [ ]:
data3_final = data3_clean[['zipcode','county','premise_state','restaurant_name','latitude','longitude','license_type_code','license_class_code','certificate_number']]
data3_final.isnull().sum()

In [ ]:
import psycopg2
try:
    dbConnection = psycopg2.connect(
        user = "dap",
        password = "dap",
        host = "127.0.0.1",
        port = "5432",
        database = "postgres")
    dbConnection.set_isolation_level(0) # AUTOCOMMIT
    dbCursor = dbConnection.cursor()
    dbCursor.execute('CREATE DATABASE dapproject;')
    dbCursor.close()
except (Exception , psycopg2.Error) as dbError :
    print ("Error while connecting to PostgreSQL", dbError)
finally:
    if dbConnection in locals(): 
        dbConnection.close()

In [ ]:
engine =sqlalchemy.create_engine('postgresql://dap:dap@localhost:5432/dapproject')
con = engine.connect()

In [ ]:
# checking if any table exists
print("The tables present in the dapproject database before storing are:")
print(engine.table_names());

In [ ]:
table_name='RestaurantFeatures'
data1_final.to_sql(table_name, con, if_exists = 'replace', index = False)

In [ ]:
engine =sqlalchemy.create_engine('postgresql://dap:dap@localhost:5432/dapproject')
con = engine.connect()

# checking if any table exists
print("The tables present in the dapproject database before storing are:")
print(engine.table_names());

table_name='RestaurantInspection'
data2_final.to_sql(table_name, con, if_exists = 'replace', index = False)

In [ ]:
engine =sqlalchemy.create_engine('postgresql://dap:dap@localhost:5432/dapproject')
con = engine.connect()

# checking if any table exists
print("The tables present in the dapproject database before storing are:")
print(engine.table_names());

table_name='RestaurantLiquor'
data3_final.to_sql(table_name, con, if_exists = 'replace', index = False)

In [ ]:
# checking if any table exists
print("The tables present in the dap_projectt database before storing are:")
print(engine.table_names());

In [ ]:
# import psycopg2
# import pprint

 

# #Define our connection string
# conn_string = "host='127.0.0.1' port = '5432' dbname='dapproject' user = 'dap' password = 'dap'"

 

# # print the connection string we will use to connect
# print ("Connecting to database\n ->%s" % (conn_string))

 

# # get a connection, if a connect cannot be made an exception will be raised here
# conn = psycopg2.connect(conn_string)

 

# # conn.cursor will return a cursor object, you can use this cursor to perform queries
# cursor = conn.cursor()
# print ("Connected!\n")


 

# # execute our Query
# cursor.execute("SELECT * FROM information_schema.columns WHERE table_schema = ('public') AND table_name   = ('RestaurantFeatures')")
# #cursor.execute("SELECT * FROM RestaurantFeatures")

 

# # retrieve the records from the database
# records = cursor.fetchall()

 

# # print out the records using pretty print
# # note that the NAMES of the columns are not shown, instead just indexes.
# # for most people this isn't very useful so we'll show you how to return
# # columns as a dictionary (hash) in the next example.
# pprint.pprint(records)

# cursor.execute("""SELECT table_name FROM information_schema.tables
#        WHERE table_schema = 'public'""")
# for table in cursor.fetchall():
#     print(table)

In [ ]:
RestaurantInspection_df = data2_final

In [ ]:
RestaurantFeatures_df = data1_final

In [ ]:
RestaurantLiquor_df = data3_final